.house-card .house-info, .house-card .lord-info {
  border: 1px solid #cacaca;
  padding: 15px 20px !important; }

.house-card {
  padding: 10px 15px;
  cursor: pointer; }
  .house-card .row {
    background-color: #fff;
    box-shadow: 1px 1px #cacaca; }
    .house-card .row:hover {
      box-shadow: 2.5px 2.5px #cacaca; }
  .house-card p {
    margin-bottom: 5px !important; }
  .house-card .house-info {
    border-right: none; }
    .house-card .house-info h2 {
      margin-bottom: 15px; }
  .house-card .lord-info {
    display: flex; }
    .house-card .lord-info .info {
      align-self: flex-end;
      flex-direction: column; }
