%card-shared {
  border: 1px solid #cacaca;
  padding: 15px 20px !important;
}


.house-card {
  padding: 10px 15px;
  cursor: pointer;
  
  .row {
    background-color: #fff;
    box-shadow: 1px 1px #cacaca;
    &:hover {
      box-shadow: 2.5px 2.5px #cacaca;
    }
  }

  p {
    margin-bottom: 5px !important;
  }

  .house-info {
    @extend %card-shared;
    border-right: none;
    h2 {
      margin-bottom: 15px;
    }
  }

  .lord-info {
    @extend %card-shared;
    display: flex;
    .info {
      align-self: flex-end;
      flex-direction: column;
    }
  }
}
